{% load static %}

body {
  /*padding-top: 3.5rem;*/
  background-color: #F1EFF1;
}

.centered{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.forestBG{

  background: url("{% static 'images/wallpaper.png' %}");
  background-size: cover;

}
#formtitle{
  transform: translateY(50%);
}

.form-control{
  border: none;
  border-bottom: 1px solid #DEDEDE;
  line-height: $input-line-height;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #222;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;

}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.test:not(.nohover):hover {
    border: 1px solid red;
}

.sidebar-nav li:not(.nohover):hover {
  color: #fff;
  background: #09ACA8;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {

  background: none;
}


.active{
    background: #09ACA8;
    border-radius: 10px;
    text-indent: 10px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

a{
    color: #fff;
}
hr{
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

strong{
    color: #fff;
    margin-left: 15px;
    font-weight: 100;
}

.card-header{
    background: #a10684;
    color: #fff;
    font-size: 36px;
    border-radius: 10px !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
