{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" >
            <ul class="sidebar-nav">
                <li class="test nohover">
                  <img src="{% static 'images/small_logo.png' %}" width="30" height="30" alt="">
                  <span style="color:white">DEKODING</span>
                </li>

                <hr style="border-color:white"/>
                <li>
                    <a {% ifequal request.path "/dog/list/" %}  class="active" {% endifequal %}  href="/dog/list"><img src="{% static 'images/list_icon.png'%}" alt="" class="img-fluid mr-2"> Dog List</a>
                </li>
                <li>
                    <a {% ifequal request.path "/dog/add/" %}  class="active" {% endifequal %}  href="/dog/add"><img src="{% static 'images/add_icon.png'%}" alt="" class="img-fluid mr-2"> Add Dog</a>
                </li>
                <li>
                    <a {% ifequal request.path "/owner" %} class="active" {% endifequal %}  href="#"><img src="{% static 'images/list_icon.png'%}"alt="" class="img-fluid mr-2"> Owner List</a>
                </li>
                <li>
                    <a {% ifequal request.path "/owner" %} class="active" {% endifequal %}  href="#"><img src="{% static 'images/add_icon.png'%}" alt="" class="img-fluid mr-2"> Add Owner</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->

        <div class="container float-left h-100" >
          {% block sidebarContent %}
          {% endblock %}
        </div>

    </div>
    <!-- /#wrapper -->



{% endblock %}
