{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="slider" class="carousel slide" data-ride="carousel" style="height: 100vh">

    <div class="carousel-inner h-100">

      <!-- firt elemt -->
      <div class="carousel-item active bg-secondary h-100">
        <img src="{% static 'images/logo.png' %}"
            class="d-block img-fluid centered" alt="dekoding_logo">
      </div>

      <!-- second elemt -->
      <div class="carousel-item h-100">
        <div class="row h-50">
          <div class="col" style="background-color:lightblue">
            <p class="centered" style="font-size:15vw">D</p>
          </div>
          <div class="col" style="background-color:blue">
            <p class="centered" style="font-size:15vw">E</p>
          </div>
          <div class="col" style="background-color:darkblue">
            <p class="centered" style="font-size:15vw">K</p>
          </div>
        </div>
        <div class="row h-50 mt-1">
          <div class="col" style="background-color:#56483F">
            <p class="centered" style="font-size:15vw"> ODING </p>
          </div>
        </div>
      </div>


      <div class="carousel-item container-fluid h-100" style="background-image: url({% static 'images/wallpaper.png'%});">
        <div class="container h-50 w-100 px-0 py-0 fixed-bottom pr-5 ">
          <div class="container h-100 w-50 float-right py-1 pr-5">
            <div class="container h-75 w-100 pt-3 text-center bg-primary rounded text-white text-align-center">
              <p style="font-size:5vw"> Dekoding </p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary float-right mx-2 w-25 my-3 " data-toggle="modal" data-target="#DekodingModal">
              Submit
            </button>
          </div>
        </div>
      </div>

    </div>

  <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Modal -->
<div class="modal fade centered rounded" id="DekodingModal" tabindex="-1" role="dialog" aria-labelledby="DekodingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DekodingModalLabel">Tittle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Content Content</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary fade collapse" id="closeModal"data-target="#closeModal" data-toggle="collapse">Close</button>
        <button type="button" class="btn btn-primary" id="closeCollapse" data-target="#closeModal" data-toggle="collapse">Submit</button>

        <script js>
        $('#closeModal').on('shown.bs.collapse', function () {
          $('#closeCollapse').attr('data-toggle',"button");
        });
        $('#closeModal').on('hidden.bs.collapse',function() {
          $('#closeCollapse').attr('data-toggle',"collapse")
        });
        </script>

      </div>
    </div>
  </div>
</div>

{% endblock %}
