{% extends "../backend.html" %}
{% load static %}

{% block sidebarContent %}


  <div id="formtitle"class="container position-relative w-100 mt-3" style="z-index:1">
    <div class="ml-3 rounded mt-3 py-2 px-4 text-white align-middle" style="background-color:#7f4ea3; width: 100  % ">
      <h4> Add Dog </h4>
    </div>
  </div>

  <div class="container position-relative w-100" style="height:90%">
    <div class="ml-2 rounded  pt-5 px-3 h-50 w-100 bg-white">

        <form method="POST" action="/dog/add/">
          {% csrf_token %}

            <div class="form-group">
                {{form.name}}
            </div>

            <div class="form-row">

                <div class="col">
                    {{form.breed}}
                </div>
                <div class="col">
                    {{form.age}}
                </div>
                <div class="col">
                    {{form.owner}}
                </div>
            </div>
            <br>

            <button type="submit" class="btn btn-primary" style="background-color:#7f4ea3">SAVE DOG</button>
        </form>
    </div>
  </div>



{% endblock %}
