{% extends "../backend.html" %}
{% load static %}

{% block sidebarContent %}

<div id="formtitle" class="container position-relative w-100" style="z-index:1">
  <div class="ml-3  rounded mt-3 py-2 px-4 text-white align-middle" style="background-color:#7f4ea3; width: 97%;">
    <h4> Dogs List </h4>
  </div>
</div>
<div class="container position-relative w-100" style="height:90%">
  <div class="ml-2 rounded pt-5 px-3 h-100 w-100 bg-white" style="overflow-y:scroll;">
    <table class="table">
      <thead >
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Breed</th>
            <th>Owner</th>
        </tr>
      </thead>
      {% if dogs %}
      <tbody>
      {% for dog in dogs %}
      <tr>
          <td>{{dog.name}}</td>
          <td>{{dog.age}}</td>
          <td>{{dog.breed}}</td>
          <td>{{dog.owner}}</td>
      </tr>
      {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>
</div>

{% endblock %}
